.shoplist_center{
	width: 1200px;
    margin: 0 auto;
}
a{
	color: #666;
}
body{
	font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB;
	background: #ededed;
}
.smallNav{
	padding: 30px 0 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.smallNav p{
	margin-left: -5px;
    font-family: serif;
    font-size: 12px;
}
.smallNav p a{
	padding: 5px;
    font-family: "宋体";
   
    font-size: 12px;
}
.smallNav span{
	position: absolute;
    right: 0;
    height: 30px;
    top: 30px;
    font-family: "宋体";
    color: #666;
    font-size: 12px;
}
.shop_content{
    box-shadow: 0 2px 5px #ccc;
    width: 1110px;
    padding: 40px 50px 12px 40px;
    background: #fff;
    overflow: hidden;
}
.shop_contentl{
	float: left;
    height: 400px;
    width: 481px;
    border: 1px solid #ededed;
    z-index: 2;
    margin-bottom: 85px;
}

.littleimg{
	width: 80px;
    height: 400px;
    border-right: 1px solid #ededed;
    float: left;
    position: relative;
    overflow: hidden;
}
.littleimg a{
	display: block;
	position: relative;
}
.littleimg .active i{
	background-position: -141px -238px;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../images/shopsShow/detail_icon6.png);
    background-repeat: no-repeat;
}
.bigimg{
	width: 400px;
    height: 400px;
    float: left;
    position: relative;
}
.zoomdiv{
	border: 1px solid #ededed;
	display: none;
	left: 430px;
	top: -1px;
	width: 460px;
	height: 400px;
	position: absolute;
	background: #fff;
	vertical-align: middle;
	overflow: hidden;
	z-index: 10;
	/*text-align: center;*/
}
.moveImg{
	position: absolute;
	right: -40px;
	top: 0;
}
.bigimg img{
	width: 100%;
}
.zoomspan{
	display: none;
	position: absolute;
    z-index: 6;
    background: #fff;
    width: 200px;
    height: 200px;
    background: url(http://pic16.secooimg.com/home/detail/zoomspan.gif) repeat;
    text-align: center;
    overflow: hidden;
}
.share_box{
	padding: 20px 0 0 14px;
	margin-top: 400px;
}
.fl {
    float: left;
}
.share_text span {
    width: 104px;
}
.share_box span {
    display: inline-block;
    color: #676767;
}
.share_box i{
	background-image: url(http://pic16.secooimg.com/home/detail/detail_icon6.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.sh1 i{
	background-position: 0 -160px;
    padding-right: 10px;
}
.sh2 i{
	background-position: 0 -201px;
    padding-right: 10px;
}
.sh3 i{
	background-position: 3px -243px;
    padding-right: 10px;
}
.sh4 i{
	background-position: 0 1px;
}
.sh5 i{
	width: 25px;
    background-position: 0 -39px;
}
.sh5 a{
	margin-left: 19px;
    margin-top: 4px;
}
.shop_contentr{
	float: right;
    width: 597px;
    min-height: 400px;
    overflow: hidden;
}
.shop_title{
	padding: 0 0 20px 20px;
	background-position: 0 bottom;
	background-repeat: repeat-x;
	background-image: url(../images/shopsShow/detail_icon6.png);
}
.shop_title h2{
	width: 450px;
	word-break: break-all;
	word-wrap: break-word;
	font: normal 16px/24px "microsoft yahei";
	color: #323232;

}
.shop_price{
	padding: 15px 0 10px 20px;
	color: #666666;
	position: relative;
	
}

.shop_price1 span{
	display: inline-block;
	font-size: 18px;
	font-family: microsoft yahei;
	color: #e93b39 !important;
	padding-right: 13px;
	line-height: 42px;	
}
.shop_price1 strong{
	font-size: 12px;
	padding-right: 1px;
	color: #e93a38;
}
.shop_price1 b{
	font-size: 30px;
	font-weight: 500;
	color: #e93a38;
	
	display: inline-block;
	line-height: 28px;
	font-family: Tahoma;
}
.shoplocation{
	margin-bottom: 8px;
}
.shoplocation1{
	width: 60px;
	font-size: 12px;
	float: left;
	padding-right: 17px;
	line-height: 24px;
	white-space: nowrap;
	font-family: simsun;
	white-space: nowrap;
}
.shoplocation i{
	color: #7e68b3;
	font-style: normal;
	margin-right: 2px;
}
.shoplocation em{
	font-style: normal;
}
.shoplocation span{
	font-size: 12px;
	line-height: 22px;
}
.shoplocation span:nth-of-type(2){
	margin-left: 26px;
}
.shoplocation span b{
	color: #e93b39!important;
	font-weight: 400;
}
.shophint{
	font-size: 12px;
}
.shophint div{
	width: 60px;
    font-size: 12px;
    float: left;
    padding-right: 17px;
    line-height: 24px;
    white-space: nowrap;
    font-family: simsun;
    white-space: nowrap;
}
.shophint span{
	line-height: 22px;
}
.shopBuy{
	background-position: 0 -1299px;
    padding: 24px 0 0 20px;
    background-repeat: repeat-x;
    font-size: 12px;
    color: #666666;
    position: relative;
    background-image: url(http://pic16.secooimg.com/home/detail/detail_icon6.png);
}
.shopnumber{
	overflow: hidden;
}
.shopnumber div{
	font-size: 12px;
	font-family: simsun;
	float: left;

}
.shopnumber div:nth-of-type(1){
	width: 60px;
    padding-right: 17px;
    line-height: 24px;
    white-space: nowrap;
    font-family: simsun;
    white-space: nowrap;
    font-family: simsun;
}
.shopnumber div:nth-of-type(2){
	line-height: 22px;
    width: 495px;
}
.shopnumber div a{
	display: block;
    background: url(http://pic16.secooimg.com/home/detail/detail_icon6.png) no-repeat;
    width: 21px;
    height: 22px;
    background-position: right -69px;
    float: left;
    cursor: pointer;
}
.shopnumber div a:nth-of-type(2){
	background-position: right -47px;
}
.shopnumber div input{
	border: 1px solid #ededed;;
	float: left;
    display: block;
    width: 34px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.shopnumber div span{
	margin-left: 17px;
	font-size: 12px;
	color: #666666;
}
.shopnumber div span i{
	font-style: normal;
	color: #e93b39!important;

}
.buyNow{
	overflow: hidden;
	margin-top: 10px;
}
.buyNow a{
	cursor: pointer;
	display: block;
    background: url(http://pic16.secooimg.com/home/detail/detail_icon6.png) no-repeat;
    margin: 10px 20px 20px 0;
    float: left;
    width: 160px;
    height: 45px;

}
#buyNow{	
    background-position: right -551px;   
}
#buyNow:hover{
	background-position: right -459px;
}
#buyCar{
    background-position: right -597px;
}
#buyCar:hover{
	background-position: right -505px;
}
.successAdd{
	width: 425px;
    height: 196px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -155px 0 0 -91px;
    background: #fff;
    z-index: 9998;
    box-shadow: 0 0 3px #ccc;
    display: none;
}
.Addtitle{
	width: 419px;
    height: 39px;
    line-height: 39px;
    margin: 3px auto;
    background: #463a7e;
    color: #fff;
    font: normal 16px/39px "microsoft yahei";
    text-indent: 20px;
}
.Addtitle a{
	cursor: pointer;
	position: absolute;
    right: 10px;
    top: 13px;
    background: url(http://pic16.secooimg.com/home/detail/detail_icon3.png) no-repeat right -91px;
    width: 20px;
    height: 20px;
}
.successAdd div:nth-of-type(2){
	width: 100%;
    text-align: center;
    margin-top: 40px;
    color: #463a7e;
    font: normal 16px/16px "microsoft yahei";
}
.beSure{
	font-size: 0;
    text-align: center;
    margin-top: 30px;
}
.beSure a{
	cursor: pointer;
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 28px;
    margin: 0 6px;
    font-size: 12px;
}
#goShopCar{
	background: #e93b39;
    color: #fff;
}
#goShopCar:hover{
	background: #d32220
}

#goShopping{
	background: #ededed;
    color: #333;
}
#goShopping:hover{
	background: #ccc;
    color: #333;
}
.shopbg{
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9997;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    height: 4099px;
    opacity: 0.5;
    
}
#closeCar{
	cursor: pointer;
}
